<!DOCTYPE html>
<html layout:decorator="fragments/layout"
xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

	<head>
		<title th:text="#{index.title}">MUMSched</title>
	</head>

	<body>

		<th:block layout:fragment="content">
			<div class="container">
				<div class="row well">
					<div class="col-md-9">
						<table class="table table-hover">
							<thead>
								<tr> 
									<th>#</th> <th>First name</th> <th>Last name</th> <th>Email</th><th>Action</th> 
								</tr>
							</thead>
							<tbody> 
								<th:block th:each="student, idx : ${students}">
								<tr> 
									<th scope="row" th:text="${idx.count}">1</th> 
									<td th:text="${student.firstname}">Sovello</td> 
									<td th:text="${student.lastname}">Hildebrand</td> 
									<td th:text="${student.email}">shildebrand@mumsched.tao</td>
									<td><a th:href="@{'/students/'+${student.id}+'?update=1'}">Update</a> | 
									<a th:href="@{'/students/'+${student.id}+'?update=0'}">Delete</a> | 
									<a th:href="@{'/students/'+${student.id}+'/profile'}">View Student Profile</a></td>
								</tr>
								</th:block>
							</tbody>
						</table>    
					</div>
					<div class="col-md-3">
						<p><a th:href="@{/students/new}">Create Student Profile</a></p>
					</div>
				</div>
			</div>
		</th:block>
	</body>
</html>