<!DOCTYPE html>
<html layout:decorator="fragments/layout"
xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

		<head>
		<title th:text="#{index.title}">MUMSched</title>
	</head>

	<body>
		<th:block layout:fragment="content">
			<div class="container">
				<div class="row">
					<!--<div class="col-sm-6 col-md-4 col-md-offset-4">-->
					<div class="span4 offset4 well">
						<form action="#" th:action="@{/students}" th:object="${student}" method="post">
						  <div class="form-group">
						    <label for="firstname">First name</label>
						    <input type="text" th:field="*{firstname}" class="form-control" id="firstname" placeholder="First name" />
						    <div class="help-block with-errors" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"></div>
						  </div>
						  <input type="hidden" th:field="*{id}" />
						  <div class="form-group">
						    <label for="lastname">Last name</label>
						    <input type="text" th:field="*{lastname}" class="form-control" id="lastname" placeholder="Last name" />
						    <div class="help-block with-errors" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></div>
						  </div>
						  <div class="form-group">
						    <label for="email">Email</label>
						    <input type="text" th:field="*{email}" class="form-control" id="email" placeholder="Email" />
						    <div class="help-block with-errors" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
						  </div>
						  <div class="form-group text-right">
						  	<label for="submitButton">
						  		<a th:href="@{/student}"><button type="button" class="btn btn-default btn-group">Cancel</button></a>
						  		<button type="submit" class="btn btn-default btn-group">Save</button>
						  	</label>
						  </div>
						</form>    
					</div>
				</div>
			</div>
		</th:block>
	</body>
</html>