<!DOCTYPE html>
<html layout:decorator="fragments/layout"
xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

	<head>
		<title th:text="#{index.title}">MUMSched</title>
	</head>

	<body>
		<th:block layout:fragment="content">
			<div class="container">
				<div class="row well">
					<div class="col-md-9">
						<table class="table table-hover">
							<thead>
								<tr> 
									<th>#</th> <th>Course Code</th> <th>Course Level</th> <th>Course Name</th><th>Maximum Capacity</th><th>Action</th> 
								</tr>
							</thead>
							<tbody>
								<th:block th:each="course, idx : ${courses}">
								<tr> 
									<th scope="row" th:text="${idx.count}">1</th> 
									<td th:text="${course.code}">SW</td> 
									<td th:text="${course.level}">425</td> 
									<td th:text="${course.name}">Software Engineering</td>
									<td th:text="${course.capacity}">25</td>
									<td><a th:href="@{'/courses/'+${course.id}+'?update=1'}">Update</a> | 
									<a th:href="@{'/courses/'+${course.id}+'?update=0'}">Delete</a> | 
									<a th:href="@{'/courses/'+${course.id}+'/profile'}">View Profile</a></td>
								</tr>
								</th:block>
							</tbody>
						</table>    
					</div>
					<div class="col-md-3">
						<p><a th:href="@{/courses/new}">Create a new Course</a></p>
					</div>
				</div>
			</div>
		</th:block>
	</body>
</html>