<!DOCTYPE html>
<html layout:decorator="fragments/layout"
xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

	<head>
		<title th:text="#{index.title}">MUMSched</title>
	</head>

	<body>
		<th:block layout:fragment="content">
			<div class="container">
				<div class="row">
					<!--<div class="col-sm-6 col-md-4 col-md-offset-4">-->
					<div class="span4 offset4 well">
						<form action="#" th:action="@{/courses}" th:object="${course}" method="post">
						  <div class="form-group">
						    <label for="courseName">Course Name</label>
						    <input type="text" th:field="*{name}" class="form-control" id="courseName" placeholder="e.g. Software Engineering" />
						  </div>
						  <input type="hidden" th:field="*{id}" />
						  <div class="form-group">
						    <label for="courseLevel">Course Level</label>
						    <input type="number" th:field="*{level}" class="form-control" id="courseLevel" placeholder="e.g. 400, 500" />
						    <div class="help-block with-errors" th:if="${#fields.hasErrors('level')}" th:errors="*{level}"></div>
						  </div>
						  <div class="form-group">
						    <label for="courseCode">Course Code</label>
						    <input type="text" th:field="*{code}" class="form-control" id="courseCode" placeholder="e.g. ML, SW" />
						    <div class="help-block with-errors" th:if="${#fields.hasErrors('code')}" th:errors="*{code}"></div>
						  </div>
						 <div class="form-group">
						    <label for="courseCode">Maximum Capacity</label>
						    <input type="number" th:field="*{capacity}" class="form-control" id="courseCapacity" placeholder="90" />
						    <div class="help-block with-errors" th:if="${#fields.hasErrors('capacity')}" th:errors="*{capacity}"></div>
						  </div>
						  <div class="form-group">
						    <label for="prerequisites">Prerequisites:</label>
						    <div class="help-block with-errors" th:if="${#fields.hasErrors('prerequisites')}" th:errors="*{prerequisites}"></div>
						    <select th:field="*{prerequisites}" th:multiple="multiple" class="form-control" id="prerequisites">
						      <option
						      	th:each="prerequisite: ${allPrerequisites}" 
						      	th:value="${prerequisite.id}"
						      	th:text="${prerequisite}">Machine Learning</option>
						    </select>
						  </div>
						  <div class="form-group text-right">
						  	<label for="submitButton">
						  		<a th:href="@{/courses}"><button type="button" class="btn btn-default btn-group">Cancel</button></a>
						  		<button type="submit" class="btn btn-default btn-group">Save</button>
						  	</label>
						  </div>
						</form>    
					</div>
				</div>
			</div>
		</th:block>
	</body>
</html>