<!DOCTYPE html>
<html layout:decorator="fragments/layout"
xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

		<head>
		<title th:text="#{index.title}">MUMSched</title>
	</head>

	<body>
		<th:block layout:fragment="content">
			<div class="container">
				<div class="row">
					<!--<div class="col-sm-6 col-md-4 col-md-offset-4">-->
					<div class="span4 offset4 well">
						<form action="#" th:action="@{/sections}" th:object="${section}" method="post">
						  	<input type="hidden" th:field="*{id}" />
						  <div class="form-group">
						    <label for="course">Course</label>
						    <input type="text" th:field="*{course}" class="form-control" id="course" readonly="readonly" />
						  </div>
						  <div class="form-group">
						    <label for="capacity">Capacity</label>
						    <input type="text" th:field="*{capacity}" class="form-control" id="capacity" readonly="readonly" />
						  </div>
						  <div class="form-group">
						    <label for="enrolledStudents">Enrolled Students</label>
						    <input type="text" th:field="*{enrolledStudents}" class="form-control" id="enrolledStudents" readonly="readonly" />
						  </div>
						  <div class="form-group">
						    <label for="faculty">Faculty:</label>
						    <select th:field="*{faculty}" class="form-control" id="faculty">
						      <option value="">-- Select a faculty --</option>
						      <option
						      	th:each="faculty: ${allFaculty}" 
						      	th:value="${faculty.id}"
						      	th:text="${faculty}">Sovello Hildebrand</option>
						    </select>
						  </div>
						  <div class="form-group text-right">
						  	<label for="submitButton">
						  		<a th:href="@{/sections}"><button type="button" class="btn btn-default btn-group">Cancel</button></a>
						  		<button type="submit" class="btn btn-default btn-group">Save</button>
						  	</label>
						  </div>
						</form>    
					</div>
				</div>
			</div>
		</th:block>
	</body>
</html>