<!DOCTYPE html>
<html layout:decorator="fragments/layout"
xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

		<head>
		<title th:text="#{index.title}">MUMSched</title>
	</head>

	<body>
		<th:block layout:fragment="content">
			<div class="container">
				<div class="row well">
					<div class="col-md-9">
						<table class="table table-hover">
							<thead>
								<tr> 
									<th>#</th> <th>Schedule For</th><th>Status</th><th>Action</th> 
								</tr>
							</thead>
							<tbody> 
								<th:block th:each="schedule : ${schedules}">
								<tr> 
									<th scope="row">1</th> 
									<td></td>
									<!-- <td th:text="${block.entry}">January 2018</td> --> 
									<td th:text="${schedule.entry}">March 2018</td>
									<td th:text="${schedule.status}">Draft</td>
									<td><a th:href="@{'/schedules/'+${schedule.id}+'?update=1'}">Update</a> | 
									<a th:href="@{'/schedules/'+${schedule.id}+'?update=0'}">Delete</a> | 
									<a th:href="@{'/schedules/'+${schedule.id}+'/profile'}">View Schedule</a></td>
								</tr>
								</th:block>
							</tbody>
						</table>    
					</div>
					<div class="col-md-3">
						<p><a th:href="@{/schedules/new}">Create a new Schedule</a></p>
					</div>
				</div>
			</div>
		</th:block>
	</body>
</html>