<!DOCTYPE html>
<html layout:decorator="fragments/layout"
xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

		<head>
		<title th:text="#{index.title}">MUMSched</title>
	</head>

	<body>
		<th:block layout:fragment="content">
			<div class="container">
				<div class="row">
					<!--<div class="col-sm-6 col-md-4 col-md-offset-4">-->
					<div class="span4 offset4 well">
						<form action="#" th:action="@{/schedules}" th:object="${schedule}" method="post">
						  <div class="form-group">
						    <label for="entry">Entry:</label>
						    <select th:field="*{entry}" class="form-control" id="entry">
						      <option value="">-- Select an entry --</option>
						      <option
						      	th:each="entry: ${allEntries}" 
						      	th:value="${entry.id}"
						      	th:text="${entry}">January Entry 2018</option>
						    </select>
						  </div>
						  	<input type="hidden" th:field="*{id}" />
						  <!-- <div class="form-group">
						    <label for="block">Status:</label>
						    <select th:field="*{status}" class="form-control" id="status">
						      <option value=""> Select Status </option>
						      <option 
						      th:each="status : ${T(com.mumscheduler.schedule.model.ScheduleStatus).values()}" 
						      th:value="${status}" 
						      th:text="${status}">DRAFT</option>
						    </select>
						  </div> -->
						  
						  <div class="form-group text-right">
						  	<label for="submitButton">
						  		<a th:href="@{/schedule}"><button type="button" class="btn btn-default btn-group">Cancel</button></a>
						  		<button type="submit" class="btn btn-default btn-group">Save</button>
						  	</label>
						  </div>
						</form>    
					</div>
				</div>
			</div>
		</th:block>
	</body>
</html>